@model IEnumerable<_12FileUpload.Models.FileInformation>
@{
                /**/

                ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="someFile" />
    <br />
    <input type="submit" value="Upload" />
}

<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Filename</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FileName</td>
                <td>
                    <a href="@Url.Action("DownloadFile","Home", new { id=item.Id},null)">Download File</a>
                    <a href="@Url.Action("DeleteFile","Home", new { id=item.Id},null)">Delete File</a>
                </td>
            </tr>
        }
    </tbody>
</table>
