<a class="btn btn-info">C#</a>
<a class="btn btn-info">MVC FrameWork</a>
<a class="btn btn-info">JavaScript</a>
<a class="btn btn-info">CSS</a>
<a class="btn btn-info">HTML</a>
<a class="btn btn-info">BOOTSTRAP</a>
<a class="btn btn-info">SQL</a>
<a class="btn btn-info">HTML5</a>