
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello</title>
</head>
<body>
    <div> 
        <h1>This is the Hello View Demo</h1>
        <p>Hello I am ARUN</p>
        <button id="Submit">Submit</button>
        
    </div>
</body>
</html>
