
@{
    ViewBag.Title = "AboutUs";
}

<h2>AboutUs</h2>

<h2>Training</h2>

<p>If you’re really bright, passionate about producing world-changing software and want to do something amazing, join us today for get trained in cutting edge technology.</p><br>

<h4>"On Job Training"</h4>
<p>
    On job training (OJT) is a type of skill development where an worker learns how to do the work through hands-on experience.
    This is in contrast to skill formation that is purely cognitive or perceptual.
    OJT generally gives the trainee the opportunity to work in the same place and with the same equipment that will be used regularly which can make it an efficient approach to learning new things.
    It can also be a useful tool to helping unemployed people develop new job skills.
</p>
<h4>Job Training for the Unemployed</h4>
<p>On-the-job training can also be used to teach people with limited job skills new trades or to provide work experience for those who don't have it. It gives trainees chance to gain experience in the job.</p>
<div style="align-items:center; width:50%" class="col-lg-6 col-md-6 col-sm-6">
    <img src="/Images/OJT.png" class="img-responsive">
</div>
<p>We offer training on the following skills.</p>

<div class="table-responsive col-lg-6 col-md-6 col-sm-6">
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th style="width:30%">Sl No</th>
                <th style="width:70%">Title</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>.Net Framework</td>
            </tr>
            <tr>
                <td>2</td>
                <td>C#</td>
            </tr>
            <tr>
                <td>3</td>
                <td>ASP.NET MVC</td>
            </tr>
            <tr>
                <td>4</td>
                <td>MS SQL</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Entity Framework</td>
            </tr>
            <tr>
                <td>6</td>
                <td>HTML</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Javascript</td>
            </tr>
            <tr>
                <td>8</td>
                <td>JQuery</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Ajax</td>
            </tr>
            <tr>
                <td>10</td>
                <td>CSS3</td>
            </tr>
            <tr>
                <td>11</td>
                <td>HTML5</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Bootstrap</td>
            </tr>
        </tbody>
    </table>
</div>