
@{
    ViewBag.Title = "ContactUs";
}

<h2>ContactUs</h2>

<h2>Contact.</h2>

<address>
    Ankpro Technologies,<br>
    No 213/A, 28th Cross,<br>
    Rajajinagar 2nd Block<br>
    Bangalore. Karnataka - 560010<br>
    <abbr title="Phone">P:</abbr>
    9035122166
</address>